* {
  box-sizing: border-box;
  /*border: red 1px solid;*/
}

body {
  font-family: 'Open Sans', sans-serif;
  margin: auto;
}

.container-1 {
  width: 50%;
  background-color: #455A64;
  height: 100vh;
  float: left;
  position: fixed;
}

h1 {
  color: #FFF;
  font-size: 5em;
  text-align: center;
  margin-top: 2em;
}

img {
  height: 1em;

}

.input {
  display: block;
  margin: auto;
  width: 17.3em;
  margin-bottom: 2em;
  font-size: 2.3em;
  padding: .2em;
}

.enter-button {
  color: #FFF;
  background-color: #FFC107;
  border: none;
  margin: auto;
  display: block;
  width: 17.3em;
  font-size: 2.3em;
}

.enter-button:hover {
  background-color: #FFD773;
}

.container-2 {
  width: 50%;
  background-color: #CFD8DC;
  float: right;
}

.container-2::after {
  content: "";
  clear: both;
  display: block;
}

ul {
  padding: 0;
  margin: 1em;
}

li {
  background-color: #FFF;
  margin: none;
  border: 2px solid #607D8B;
  list-style-type: none;
  margin-bottom: 1em;
  padding: 10px;
}

.read-li {
  background-color: #F2F4F4;
  margin: none;
  list-style-type: none;
}

.button-already-read {
  color: #F05A28;
  font-weight: bold;
}

h2 {
  color: #455A64;
}

h3 {
  color: #607D8B;
  border-top: 1px solid #607D8B;
  border-bottom: 1px solid #607D8B;
  padding-top: 10px;
  padding-bottom: 10px;
  /*Still need to have underline color changed*/
}

a {
text-decoration: none;
}

a:link {
color: #607D8B;
border-bottom: 1px solid #F2F4F4;
}

.delete-button {
  float: right;
}