* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  margin: auto;
}

/*Left Container*/
.container-1 {
  width: 50%;
  background-color: #455A64;
  float: left;
  position: fixed;
  height: 100vh;
  overflow: scroll;
}

.form {
  width: 80%;
  margin: 20% auto;
  }

h1 {
  color: #FFF;
  font-size: 5em;
  text-align: center;
  margin: auto;
  width: 100%;
}

img {
  height: .75em;
  margin: 0 .2em;
}

.input {
  display: block;
  margin-top: 10%;
  font-size: 2.3em;
  padding: .2em;
  width: 100%;
}

.enter-button {
  color: #FFF;
  background-color: #FFC107;
  border: none;
  display: block;
  font-size: 1.5em;
  padding: .3em;
  width: 100%;
  margin-top: 10%;
}

.enter-button:hover {
  background-color: #FFD773;
  margin-bottom: 3em;
}

/*Right Container*/
.container-2 {
  width: 50%;
  background-color: #CFD8DC;
  float: right;
  height: 100vh;
  overflow: scroll;
}

ul {
  padding: 0;
  margin: 1em;
}

/*DOM Events*/
li {
  background-color: #FFF;
  margin: none;
  border: 2px solid #607D8B;
  list-style-type: none;
  margin-bottom: 1em;
  padding: 10px;
}

.read-li {
  background-color: #F2F4F4;
  margin: none;
  list-style-type: none;
}

.read-button {
  border: none;
  color: #455A64;
  font-size: 1em;
}

.read-button:hover {
  text-decoration-line: underline;
  text-decoration-color: #FFC107;
  color: #455A64;
  font-weight: bold;
}

.button-already-read {
  color: #F05A28;
  font-weight: bold;
  border: none;
  background-color: #F2F4F4;
}

button:focus {
  outline: none;
}

.delete-button {
  color: #455A64;
  float: right;
  border: none;
  font-size: 1em;
  background-color: inherit;
}

.delete-button:hover {
  text-decoration-line: underline;
  text-decoration-color: #FFC107;
  color: #455A64;
  font-weight: bold;
}

h2 {
  color: #455A64;
}

h3 {
  color: #607D8B;
  border-top: 1px solid #607D8B;
  border-bottom: 1px solid #607D8B;
  padding-top: 10px;
  padding-bottom: 10px;
}

.link-counter {
  padding: 1em;
  color: #455a63;
}

a:link {
  color: #607D8B;
  border-bottom: 1px solid #CFD8DC;
  color: #607D8B;
  text-decoration: underline;
  text-decoration-color: #F2F4F4;
}

a:hover {
  color: #455A64;
  text-decoration: underline;
  text-decoration-color: #FFC107;
  font-weight: bold;
}

/*Media Queries*/
@media screen and (max-width: 750px) {
  .container-1 {
    float: none;
    width: 100%;
    display: block;
    position: relative;
  }

  .container-2 {
    float: none;
    width: 100%;
    display: block;
  }
}